---
layout: default
client_work_section: sections/client-project-2-up.html
---
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="d-flex flex-column justify-content-end bg-vh-full py-5">
          <h1>Scott Harrington</h1>
          <h2>Tech Lead - Shopify Pluss</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-vh-full">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-3">
        <h1>Recent Work</h1>
        <h4>Shopify Plus</h4>
        <p>Lead Developer</p>
        <p><i>2017 - Present</i></p>
      </div>
      <div class="col-md-3">
        <ul class="list-unstyled">
          {% for project in site.data.projects %}
            <li><h2><a href="#{{ project.name | downcase | replace: ' ','_'}}">{{ project.name }}</a></h2></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <div class="gallery">
            <div class="gallery__item gallery__item--1">
              <img src="assets/images/stio_1_edit.jpg" class="gallery__img" alt="Image 1">
            </div>
            <div class="gallery__item gallery__item--2">
              <img src="assets/images/stio_1_edit.jpg" class="gallery__img" alt="Image 2">
            </div>
            <div class="gallery__item gallery__item--3">
              <ul class="list-unstyled">
                {% for project in site.data.projects %}
                  <li><h5>{{ project.name }}</h5></li>
                {% endfor %}
              </ul>
            </div>
            <div class="gallery__item gallery__item--4">
              <img src="assets/images/stio_1_edit.jpg" class="gallery__img" alt="Image 4">
            </div>
            <div class="gallery__item gallery__item--5">
              <img src="assets/images/stio_1_edit.jpg" class="gallery__img" alt="Image 5">
            </div>
            <div class="gallery__item gallery__item--6">
              <img src="assets/images/stio_1_edit.jpg" class="gallery__img" alt="Image 6">
            </div>
          </div>
      </div>
    </div>
  </div>
</section>

{% for project in site.data.projects %}
  {% assign index_odd = forloop.index | modulo: 2 %}
  {% if page.client_work_section %}
    {% include {{ page.client_work_section }} %}
  {% endif %}
{% endfor %}

<section class="bg-vh-full">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-3">
          <h1>Career Path</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <ul>
            <li><h2>Military</h2></li>
            <li><h2>Network Engineering</h2></li>
            <li><h2>Network Engineering Project Management</h2></li>
            <li><h2>Software Engineering - Shopify Plus</h2></li>
            <li><h2>Software Lead Engineeer - Shopify Plus</h2></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
