---
title: Scott Harrington - Shopify Plus Sr. Engineer
layout: default
client_work_section: sections/content-image-media.html
client_banner_section: sections/banner.html
---

<section class="section--panel" style="background-image: url('/assets/images/IMG_4870.JPG');">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="d-flex flex-column justify-content-end bg-vh-full py-5">
          <h1 class="display-2 text-white">Scott Harrington</h1>
          <p class="text-white">Senior Shopify Plus Engineer | Los Angeles, CA</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-vh-full pt-5 pt-lg-8 pb-5 pb-lg-8">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-offset-2 col-md-4">
        <h1>Recent Work</h1>
        <h4>Shopify Plus</h4>
        <p>Lead Developer</p>
        <p><i>2017 - 2019</i></p>
      </div>
      <div class="col-12 col-md-6 pt-2">
        <ul class="list-unstyled">
          {% for project in site.data.projects %}
            <li><h2><a href="#{{ project.name | downcase | replace: ' ','_'}}">{{ project.name }}</a></h2></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>

{% for project in site.data.projects %}
  {% assign index_odd = forloop.index | modulo: 2 %}
  {% if page.client_work_section %}
    {% if project.layout == 'banner' %}
      {% include {{ page.client_banner_section }} %}
    {% else %}
      {% include {{ page.client_work_section }} %}
    {% endif %}
  {% endif %}
{% endfor %}

<section class="bg-vh-full pt-5 pt-lg-8 pb-5 pb-lg-8">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-offset-2 col-md-4">
        <h1>Past Work</h1>
        <h4>Shopify</h4>
        <p>Lead Developer</p>
        <p><i>2014 - 2017</i></p>
      </div>
      <div class="col-12 col-md-6 pt-2">
        <ul class="list-unstyled">
          {% for project in site.data.old-projects %}
            <li><h2>{{ project.name }}{% if project.description != nil %} <small class="text-muted">{{ project.description }}</small>{% endif %}</h2></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>

{% include sections/contact.html %} 
