<section
  class="section--panel bg-vh-full py-6 py-lg-10 d-flex align-items-center"
  id="{{ project.id }}"
>
  <style>
    {% if project.layout == "banner" %}
      #{{ project.id }} {
        background-image: url('{{ project.primary_image }}');
      }
      #{{ project.id }}:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        background: #d1d1d142;
      }
    {% endif %}
  </style>
  <div class="container banner">
    <div class="row">
      <div
        data-aos="fade-up" data-aos-delay="200" data-aos-duration="500" 
        class="col-12{% if project.content_align_md_up == 'right' %} offset-lg-5 offset-xl-6{% else %} offset-lg-0{% endif %} col-lg-7 col-xl-6 p-5 bg-dark-transparent">
        <h1 class="display-4 mb-5">{{ project.name }}</h1>
        {% if project.description != nil %}
          <div class="row">
            <div class="col-12 col-md-4">
              <h2 class="h5 mb-0">Project Highlights:</h2>
            </div>
            <div class="col-12 col-md-8">
              {% if project.challenges != nil %}
                <ul class="list-unstyled">
                  {% for challenge in project.challenges %}
                  <li>{{ challenge.description }}</li>
                  {% endfor %}
                </ul>
              {% endif %} 
              {% if project.url != nil %}
              <a href="{{ project.url }}" target="_blank"
                >View Site</a>
              {% endif %} 
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
