<section class="section--panel bg-vh-full pt-10 pb-10" id="{{ project.id }}">
  <style>
    {% if project.layout == "banner" %}
      #{{ project.id }} {
        background-image: url('{{ project.primary_image }}');
      }
    {% endif %}
  </style>
  <div class="container">
    <div class="row">
      <div class="col-8">
        <h1 class="display-1">{{ project.name }}</h1>
        {% if project.description != nil %}
          <div class="row">
            <div class="col-6">
              {{ project.description }}
              <h2 class="h5">Project Highlights:</h2>
              {% if project.challenges != nil %}
              <ul>
                {% for challenge in project.challenges %}
                <li>{{ challenge.description }}</li>
                {% endfor %}
              </ul>
              {% endif %}
              <a href="{{ project.url }}" target="_blank">View Site</a>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>