<section class="bg-vh-full">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-3">
        <h1>Career Path</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul>
          <li><h2>Military</h2></li>
          <li><h2>Network Engineering</h2></li>
          <li><h2>Network Engineering Project Management</h2></li>
          <li><h2>Software Engineering - Shopify Plus</h2></li>
          <li><h2>Software Lead Engineeer - Shopify Plus</h2></li>
        </ul>
      </div>
    </div>
  </div>
</section>