<section class="bg-vh-full" id="{{ project.name | downcase | replace: ' ','_'}}">
  <div class="container pt-5 pb-5">
    <div class="row">
      <div class="col-md-4">
        {% if project.primary_image %}
          <img src="{{ project.primary_image }}" alt="{{ project.primary_image_alt }}" class="img-fluid">
        {% endif %}
        {% for image in project.images %}
          {{ image.url }}
          {{ image.type }}
        {% endfor %}
      </div>
      <div class="col-md-8">
        <h1>{{ project.name }}</h1>
        <h2>Links</h2>
        <ul>
          <li><a href="{{ project.url }}">View Site</a></li>
          <li><a href="{{ project.instagram_url }}">Instagram</a></li>
        </ul>
        <h2>Challenges</h2>
        <ul>
          {% for challenge in project.challenges %}
            <li>{{ challenge.description }}</li>
          {% endfor %}
        </ul>
        <h2>Integrations</h2>
        <ul>
            {% for vendor in project.vendors %}
              <li>{{ vendor.name }} {{ vendor.integration }}</li>
            {% endfor %}
          </ul>
      </div>
    </div>
  </div>
</section>