<section class="bg-vh-full pt-10 pb-10 d-flex align-items-center bg-dark" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-white">Contact</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4 mb-3 mb-lg-0">
        <h2 class="h5 text-white">Email:</h2>
        <a class="display-5 text-white" href="mailto:scottaharringtonjr@gmail.com">scottaharringtonjr@gmail.com</a>
      </div>
      <div class="col-12 col-md-4 mb-3 mb-lg-0">
        <h2 class="h5 text-white">Github:</h2>
        <a class="display-5 text-white" href="https://githib.io/scottjr" target="_blank">githib.io/scottjr</a>
      </div>
      <div class="col-12 col-md-4 mb-3 mb-lg-0">
        <h2 class="h5 text-white">LinkedIn:</h2>
        <a class="display-5 text-white" href="https://www.linkedin.com/in/scottaharringtonjr/" target="_blank">linkedin.com/in/scottaharringtonjr</a>
      </div>
    </div>
  </div>
</section>
