$grid-columns:      12;
$grid-gutter-width: 20px;
$enable-gradients: true;

$theme-colors: (
  "primary": black
);

$font-family-base: 'Poppins', sans-serif;

$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 576px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1200px,
  xxl: 1310px
);

$container-max-widths: (
  sm: 570px,
  md: 760px,
  lg: 990px,
  xl: 1190px,
  xxl: 1320px
);

$spacer: 1rem !default;
$spacers: (
  10: ($spacer * 7)
)